//@use 'tw-animate-css';
@use 'tailwindcss';

@custom-variant dark (&:is(.dark *));

:root {
  /* Colors */
  --background: #f2f6f7;
  --foreground: #363636;
  --stroke: #ebebeb;
  --primary: #f4751e;
  --brown: #9c7654;
  --blue: #2f80ed;
  --green: #27ae60;
  --yellow: #ffff42;
  --red: #ed2409;
  --pink: #eb5757;
  --soft: #fdf8f4;
  --dark-gray: #777777;
  --light-gray: #f8f8f8;
  --gray-extra-light: #fafafa;
  --border-light: #e0e0e0;

  /* Gradients */
  --gradient: linear-gradient(to bottom right, var(--yellow) 0%, var(--red) 100%);

  /* Text Colors */
  --text: #363636;
  --text-sub: #bababa;
  --text-heading: #5c5954;

  /* Fonts */
  --font-sans: 'SVN-Gilroy', Arial, Helvetica, sans-serif;
  --font-serif: 'Merriweather', serif;
  --font-mono: 'Courier New', monospace;
  --font-lato: 'Lato', sans-serif;
}

@theme inline {
  /* Colors */
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --color-primary: var(--primary);
  --color-text-sub: var(--text-sub);
  --color-text-heading: var(--text-heading);
  --color-brown: var(--brown);
  --color-blue: var(--blue);
  --color-green: var(--green);
  --color-gradient: var(--gradient);
  --color-yellow: var(--yellow);
  --color-red: var(--red);
  --color-soft: var(--soft);
  --color-light-gray: var(--light-gray);
  --color-pink: var(--pink);
  --color-stroke: var(--stroke);
  --color-border-light: var(--border-light);
  --color-gray-extra-light: var(--gray-extra-light);

  /* Fonts */
  --font-sans: var(--font-sans);
  --font-mono: var(--font-mono);
  --font-serif: var(--font-serif);
  --font-lato: var(--font-lato);
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: var(--font-sans);
}

.text-gradient {
  background: var(--gradient);
  display: inline-block;
  background-clip: text;
  color: transparent;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  -moz-background-clip: text;
  -moz-text-fill-color: transparent;
}

.bg-gradient {
  background: var(--gradient);
}
